@charset "utf-8";
/* CSS Document */
.table{
	margin-top:50px;
	margin-left:200px;
}
.title{
	text-align:center;
	font-family:"华文新魏";
	font-size:38px;
	font-weight:100;
	line-height:50px;
}
.a{
	padding-top:0px;
	padding-left:30px;
	margin-top:-50px;
}
.bx{
	text-align:left;
	font-family:"黑体";
	font-size:20px;
	line-height:50px;
}
.button{
	width:130px;
	line-height:40px;
}